<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interior Design</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="body-background">
    <!--============== NAV STARTED ============-->
    <nav class="navbar navbar-expand-lg text-white">
        <div class="container justify-content-center">
          <div class="logo"><a class="navbar-brand" href="#">
            <span class="p-0 m-0 text-white"><sup>Int</sup>E<sup>rior<br><i class="fa-solid fa-eye"></i>yes</sup></span>
        </a></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--============== NAV ENDED ============-->
    <!--============== MAIN ============-->
 
<main>
    <div class="heading d-flex justify-content center flex-wrap text-white">
        <span>
        <div class="interior">Interior</div>
        <div class="design">Design</div>
        </span>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
   <!--============== FOOTER STARTED ============-->
    
<footer>
    <div class="social-links">
    <ul class="">
        <li class="foot-item">
            <a href="" class="foot-links"><i class="fa-brands fa-x-twitter"></i></a> 
         </li>
         <li class="foot-item">
            <a href="" class="foot-links"><i class="fa-brands fa-facebook-f"></i></a> 
         </li>
         <li class="foot-item">
            <a href="" class="foot-links"><i class="fa-brands fa-instagram"></i></a> 
         </li>
         <li class="foot-item">
            <a href="" class="foot-links"><i class="fa-brands fa-linkedin"></i></a> 
         </li>
         <li class="foot-item">
            <a href="" class="foot-links"><i class="fa-brands fa-whatsapp"></i></a> 
         </li>
    </ul>
</div>
</footer>
</div>

</html>